/* begin generic css */
@import url('bootstrap/css/bootstrap.css');
@import url('bootstrap/css/bootstrap-responsive.css');

div{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;box-sizing:border-box}

body
{
    background-color:#EBEBEB;
    padding:0;
    margin:0;
    font-family:sans-serif;
    font-size:12px;
    line-height:1.3em;
    color:#000;
}

img
{
    border:0;
}

a, a:hover, a:focus
{
    color:black;
    text-decoration:none;
}

table, fieldset, legend
{
    border:none;
    border-collapse:separate;
    border-spacing:2px;
}

table caption
{
    font-weight:bold;
    text-decoration:underline;
}

table tr, table td, table th
{
    border:1px solid #F5F5F5;
}

.error_warning
{
    color:black;
    font-weight:bold;
}

.error
{
    color:red;
    text-align:center;
}

.small
{
    font-size:small;
}

.verysmall
{
    font-size:smaller;
}

.bigger
{
    font-size:larger;
}

.left
{
    float:left;
}

.right
{
    float:right;
}

.bold
{
    font-weight:bold;
}

.opac
{
    opacity:0.4;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    -khtml-opacity:0.4;
    -webkit-opacity:0.4;
}

.opac:hover
{
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    -webkit-opacity:1;
}

.full_rounded
{
    border-radius:10px 10px 10px 10px; 
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    -khtml-border-radius:10px 10px 10px 10px;
    -o-border-radius:10px 10px 10px 10px; /* no support (yet ?) in opera */
}

.top_rounded
{
    border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    -khtml-border-radius:10px 10px 0 0;
    -o-border-radius:10px 10px 0 0; /* no support (yet ?) in opera */
}

.bottom_rounded
{
    border-radius:0 0 10px 10px; 
    -moz-border-radius:0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    -khtml-border-radius:0 0 10px 10px;
    -o-border-radius:0 0 10px 10px; /* no support (yet ?) in opera */
}

.shadow
{
    box-shadow:3px 5px 5px gray;
    -moz-box-shadow:3px 5px 5px gray;
    -webkit-box-shadow:3px 5px 5px gray;
    -khtml-box-shadow:3px 5px 5px gray;
    -o-box-shadow:3px 5px 5px gray; /* no support (yet ?) in opera */
}

.backgrounded
{
    background-repeat:no-repeat;
    background-image:url(../images/images.php?f=icons.png);
    width:16px;
    height:16px;
    display:inline-block;
    vertical-align:middle;
}

.noborder
{
    border:none;
}

.underlined
{
    text-decoration:underline;
}

.inline-block
{
    display:inline-block;
}

.block
{
    display:block;
}
/* end generic css */

#container
{
    top:25px;
    position:relative;
}

div#menu
{
    width:100%;
    padding:0;
    margin:40px 0 30px 0;
    background-color:#EBEBEB;
}

ul#logs
{
    list-style-type:none;
    padding:0;
    margin:0;
}

div#logs_container
{
    height:100%;
    overflow:auto;
    padding:0;
    margin:0 86px 0 0;
    padding:0;
    color:white;
}

ul#logs li
{
    padding:0 8px 0 8px;
    line-height:9px;
    font-size:8px;
}

div#contents
{
    width:100%;
    margin:40px 0 0 0;
    padding:0;
    background-color:#EBEBEB;
}

a#menu_toggler
{
    background-position:0px 0px;
    background-color:#EBEBEB;
    width:16px;
    height:16px;
    cursor:pointer;
    border:1px solid #BBBBBB;
    margin:0 0 0 15px;
    position:fixed;
    z-index:1;
    top:65px;
}

a#board_toggler
{
    background-position:-692px 0px;
    background-color:#EBEBEB;
    width:16px;
    height:16px;
    cursor:pointer;
    border:1px solid #BBBBBB;
    margin:0 0 0 40px;
    position:fixed;
    z-index:1;
    top:65px;
}

div#body_container
{
    margin:80px 0 30px 0;
    padding:0;
}

div#board
{
    width:100%;
    display:block;
    position:fixed;
    background-color:black;
    height:50px;
    max-height:50px;
    padding:0;
    border:0;
    z-index:1;
    top:0;
}

ul.menu_container
{
    list-style-type:none;
    margin:0;
    padding:0;
}

ul.menu_container li
{
    border:1px solid #BBBBBB;
    border-radius:10px 10px 10px 10px; 
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    -khtml-border-radius:10px 10px 10px 10px;
    -o-border-radius:10px 10px 10px 10px; /* no support (yet ?) in opera */
    margin:3px;
}

ul.menu_container li.noborder
{
    border:none;
}

ul.menu_groups li:hover
{
    background-color:#DDDDDD;
}

ul.menu_actions, ul.menu_streams
{
    list-style-type:none;
    padding:5px;
    margin:0;
}

ul.menu_actions li
{
    line-height:25px;
    padding:5px;
}

ul.menu_actions li > div
{
    padding-left:10px;
}

ul.menu_actions li a
{
    line-height:25px;
    display:inline-block;
    width:100%;
    padding-left:10px;
}

ul.menu_actions li > div > a
{
    padding-left:0;
}

ul.menu_streams li
{
    margin-bottom:0;
}

ul.menu_actions li:hover
{
    background-color:#DDDDDD;
}

div.links, img.links
{
    display:inline;
}

div.links, div.menu_actions_toggler, img.links
{
    cursor:pointer;
}

ul.stream_more
{
    display:none;
    list-style-type:none;
    padding-left:0;
}

ul.menu_groups
{
    display:none;
    list-style-type:none;
    padding-left:0;
    padding-bottom:16px;
    margin:0;
}

ul.menu_groups li 
{
    padding:10px;
    cursor:move;
}

ul.menu_streams li.groups
{
    padding:10px;
    margin:3px;
}

li.groups div.inputs
{
    margin-top:5px;
}

div.article
{
    margin-top:5px;
    margin-bottom:3px;
    padding:2px;
    border:1px solid #999;
}

div.article_title
{
    padding:10px;
    margin:20px 16px 0 16px;
    cursor:pointer;
    border:1px solid #666666;
    background-color:#BBBBBB;
    opacity:0.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity:0.7;
    -webkit-opacity:0.7;
}

div.article_title:hover
{
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    -webkit-opacity:1;
}

div.article_contents
{
    padding:5px;
    margin:3px 16px 0 16px;
    background-color:#DDDDDD;
-moz-box-shadow: inset 0px 0px 5px 0px #656565;
-webkit-box-shadow: inset 0px 0px 5px 0px #656565;
-o-box-shadow: inset 0px 0px 5px 0px #656565;
box-shadow: inset 0px 0px 5px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

div.news_spacer
{
    margin:16px;
}

div.new_container_nread
{
    font-weight:bold;
}

div.new_abstract
{
    font-weight:normal;
    margin:5px 6px 0 5px;
    border-top:1px solid #808080;
    padding-top:5px;
}

div.new_container_read
{
    font-weight:normal;
}

h5.article_link
{
    padding:3px;
    margin:0;
}

img.article_image
{
    margin:5px 13px 3px 3px;
}

div#sprites_0
{
    margin:0;
}

.spacer
{
    clear:both;
}

.new
{
    background-position:-285px 0px;
    margin:0 8px 0 -24px;
}

.link_go
{
    background-position:-232px 0px;
    margin:2px 0 0 5px;
}

.current, .current_stream
{
    background-position:-20px 0px;
}

.clean
{
    margin-top:2px;
    background-position:-120px 0px;
}

div#board a.clean
{
    margin:16px 8px 16px 8px;
    background-position:-120px 0px;
}

.gstream_toggler, .stream_toggler
{
    margin:2px 2px 0 1px;
    background-position:-302px 0px;
}

.delete
{
    margin-top:2px;
    background-position:-140px 0px;
}

.logout
{
    background-position:-251px 0px;
    margin:16px 8px 16px 8px;
}

.lang_fr
{
    background-position:-196px 0px;
    margin:16px 8px 16px 8px;
}

.lang_us
{
    background-position:-214px 0px;
    margin:16px 8px 16px 8px;
}

.rename
{
    margin-top:2px;
    background-position:-100px 0px;
}

.editurl
{
    background-position:-480px 0px;
    margin-top:2px;
}

.read
{
    margin-top:2px;
    background-position:-40px 0px;
}

.read_page
{
    margin:0 4px 0 4px;
    background-position:-40px 0px;
}

.refresh
{
    margin-top:2px;
    background-position:-60px 0px;
}

.refresh_category
{
    margin-top:2px;
    padding:0;
    background-position:-268px 0px;
}

.move
{
    margin-top:2px;
    background-position:-80px 0px;
}

.img_blocked
{
    background-position:-176px 0px;
    display:inline;
}

div.article_description
{
    font-weight:normal;
    margin:0 6px 0 25px;
}

div.article_content
{
    padding:16px 16px 32px 16px;
}

div.article_content a
{
    text-decoration:underline;
}

div.article_content a.img_blocked
{
    text-decoration:none;
}

p.stream_description
{
    padding-bottom:16px;
    padding-top:0;
    padding-right:3px;
    line-height:15px;
}

div#loginbox, div#edituser
{
    width:280px;
    margin:10% auto auto auto;
    padding:10px;
    background-color:#BBBBBB;
    border:none;
}

div#loginbox fieldset, div#loginOpenID fieldset, div#edituser fieldset
{
    border:none;
}

div#loginbox legend, div#loginOpenID legend, div#edituser legend
{
    text-shadow:1px 1px 0 gray;
    border-bottom:1px solid gray;
    margin-bottom:.8em;
    font-weight:normal;
}

div#edituser
{
	width:350px;
}

table.users, table.stats
{
    width:85%;
    text-align:right;
}

table.users
{
    margin-bottom:20px;
}

table.users thead, table.stats thead
{
    height:30px;
}

table.users th, table.stats th
{
    text-align:center;
    background-color:#BBBBBB;
    border:1px solid #666666;
}

table.users th.empty
{
    background-color:#EBEBEB;
    border:none;
}

table.users td, table.stats td
{
    height:35px;
    padding:5px;
    border:1px solid #BBBBBB;
}

table.users td.actions:hover
{
    background-color:#BBBBBB;
}

table.users caption, table.stats caption
{
    margin:0 0 25px 0;
}

div.users, div.stats
{
    margin:16px;
}

a.current.hidden, a.current_stream.hidden, input.hidden
{
    display:none;
}



input.openid
{
    background-image:url(../images/images.php?f=icons.png);
    background-position:-782px 0px;
    background-repeat:no-repeat;
    padding-left:20px;
}

.icon_unavailable_feed
{
    background-position:-425px 0px;
    width:18px;
}

.icon_opml
{
    background-position:-371px 0px;
}

.icon_stats
{
    background-position:-158px 0px;
}

.icon_logs
{
    background-position:-766px 0px;
}

.icon_category
{
    background-position:-408px 0px;
}

.icon_add_category
{
    background-position:-462px 0px;
}

.search
{
    background-position:-516px 0px;
    margin:2px 0 0 0;
}

.icon_search
{
    background-position:-516px 0px;
}

.icon_edit_user
{
    background-position:-570px 0px;
}

.icon_maintenance
{
    background-position:-498px 0px;
}

.icon_add_user
{
    background-position:-533px 0px;
}

.icon_list_user
{
    background-position:-624px 0px;
}

.icon_cache_delete
{
    background-position:-444px 0px;
}

.icon_link_rss
{
    background-position:-480px 0px;
}

.icon_rss
{
    background-position:-390px 0px;
}

.new_status
{
    background-position:-659px 0px;
    margin:2px 0 0 0;
}

.new_tag
{
    background-position:-709px 0px;
    margin:2px 0 0 0;
}

li.menu_part_title
{
    padding:5px;
    font-weight:bold;
    text-shadow:1px 1px 0 gray;
    cursor:pointer;
    background-color:#BBBBBB;
}

ul.menu_container li.menu_part_title
{
    border:1px solid #666666;
    text-align:center;
}

img.favicon, a.favicon, span.favicon
{
    margin:-4px 8px 0 -20px;
}

.no_favicon
{
    background-position:-642px 0px;
}

.pager_right
{
    margin:0 4px 0 0;
    background-position:-341px 0px;
}

.pager_left
{
    margin:0 4px 0 0;
    background-position:-355px 0px;
}

.pager_markright
{
    margin:0 4px 0 0;
    background-position:-748px 0px;
}

.pager_markleft
{
    margin:0 4px 0 0;
    background-position:-730px 0px;
}

img.logo
{
    margin:-50px 10px 0 0;
}

div#loginbox img.logo
{
    margin:-5px 20px 0 0;
}

.icon_user_edit
{
    background-position:-570px 0px;
}

.icon_user_delete
{
    background-position:-551px 0px;
}

.icon_rights_user
{
    background-position:-606px 0px;
}

.icon_rights_administrator
{
    background-position:-589px 0px;
}

div.article_full_details
{
    margin:10px 0 20px 0;
    display:none;
    background-color:#EBEBEB;
    border:1px solid #BBBBBB;
}

ul.stream_details
{
    padding:0;
    margin:0;
}

ul.stream_details li
{
    list-style-type:none;
}

a.stream_details
{
    display:block;
    margin-bottom:20px;
}

a.back-top
{
    display:block;
    margin-top:20px;
}

ul.new_details
{
    margin:0;
    padding:10px;
    list-style-type:none;
}

div.apis
{
    padding:10px;
}

#news_ordering
{
    background-color:#BBBBBB;
    padding:.5em;
    top:65px;
    margin-left:70px;
    text-align:center;
    position:fixed;
    z-index:1;
    border:1px solid #666666;
}

div.new_title
{
    margin:0 6px 0 25px;
    padding-left:4px;
}
#cli-logs
{
    margin:0px 16px;
    padding-top:30px;
}
#cli-logs-container
{
    width:100%;
}
.new_tags
{
    margin-top:5px;
}

.hidden
{
    display:none;
}

@media (max-width: 767px) {
    #news_ordering
    {
        bottom:0;
        top:auto;
        width:100%;
        opacity:1;
        margin:0;
        line-height:30px;
        padding:0;
        border:0;
    border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    -khtml-border-radius:10px 10px 0 0;
    -o-border-radius:10px 10px 0 0; /* no support (yet ?) in opera */
    box-shadow:3px -5px 5px gray;
    -moz-box-shadow:3px -5px 5px gray;
    -webkit-box-shadow:3px -5px 5px gray;
    -khtml-box-shadow:3px -5px 5px gray;
    -o-box-shadow:3px -5px 5px gray; /* no support (yet ?) in opera */
    }

    div#body_container
    {
        margin:0;
    }
}
